nodered/data/flows.json
[
    {
        "id": "dc9d5d534fab6eb2",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "607da66db889fa93",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3a2988a6f153903d",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "mongo",
        "port": "27017",
        "dbName": "sensores",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "2efdb2c1dc23cfad",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "postgres",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "iot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "admin",
        "userFieldType": "str",
        "password": "admin",
        "passwordFieldType": "str"
    },
    {
        "id": "27838cf1f6ac63ae",
        "type": "mqtt in",
        "z": "dc9d5d534fab6eb2",
        "name": "Sub SENSOR",
        "topic": "sensor/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "607da66db889fa93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "ad04b2b7b467e9a1"
            ]
        ]
    },
    {
        "id": "eaa2a4c93022ded1",
        "type": "mongodb4",
        "z": "dc9d5d534fab6eb2",
        "clientNode": "3a2988a6f153903d",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 830,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "201db2d92c96bd45",
        "type": "postgresql",
        "z": "dc9d5d534fab6eb2",
        "name": "",
        "query": "",
        "postgreSQLConfig": "2efdb2c1dc23cfad",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 130,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "5309ef5b3aac2289",
        "type": "mqtt in",
        "z": "dc9d5d534fab6eb2",
        "name": "Sub DEVICE",
        "topic": "devices/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "607da66db889fa93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "9541d0fe6256e23c"
            ]
        ]
    },
    {
        "id": "97b13e08dc9b403e",
        "type": "function",
        "z": "dc9d5d534fab6eb2",
        "name": "ProcessDataDevice",
        "func": "var message = {};\nmessage.payload = msg.payload;\nmessage.payload.created_at = new Date();\nmessage.operation = \"insertOne\";\nmessage.collection = \"devices\";\nreturn message;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 460,
        "wires": [
            [
                "eaa2a4c93022ded1"
            ]
        ]
    },
    {
        "id": "9541d0fe6256e23c",
        "type": "uuid",
        "z": "dc9d5d534fab6eb2",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "",
        "field": "payload._id",
        "fieldType": "msg",
        "x": 310,
        "y": 460,
        "wires": [
            [
                "97b13e08dc9b403e"
            ]
        ]
    },
    {
        "id": "ad04b2b7b467e9a1",
        "type": "uuid",
        "z": "dc9d5d534fab6eb2",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "",
        "field": "payload._id",
        "fieldType": "msg",
        "x": 310,
        "y": 400,
        "wires": [
            [
                "820ef4b2c3ccc77f"
            ]
        ]
    },
    {
        "id": "820ef4b2c3ccc77f",
        "type": "function",
        "z": "dc9d5d534fab6eb2",
        "name": "ProcessDataReading",
        "func": "var message = {};\nmessage.payload = msg.payload;\nmessage.payload.topic = msg.topic;\nmessage.payload.created_at = new Date();\n\nmessage.operation = \"insertOne\";\nmessage.collection = \"reading_data\";\nreturn message;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 400,
        "wires": [
            [
                "eaa2a4c93022ded1",
                "46d23cca28b57fe2"
            ]
        ]
    },
    {
        "id": "45b92e3c0d835a75",
        "type": "mqtt out",
        "z": "dc9d5d534fab6eb2",
        "name": "Pub CMD",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "607da66db889fa93",
        "x": 1160,
        "y": 400,
        "wires": []
    },
    {
        "id": "46d23cca28b57fe2",
        "type": "switch",
        "z": "dc9d5d534fab6eb2",
        "name": "",
        "property": "payload.data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "30",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 400,
        "wires": [
            [
                "c94460ae9a3129a6"
            ]
        ]
    },
    {
        "id": "c94460ae9a3129a6",
        "type": "function",
        "z": "dc9d5d534fab6eb2",
        "name": "function 1",
        "func": "var command = {\n    payload: {\n        power_on: true,\n        actuador: \"MOTOR CC\",\n    },\n    topic: `devices/${msg.payload.device_id}/cmd/motor`\n};\nreturn command;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 400,
        "wires": [
            [
                "45b92e3c0d835a75"
            ]
        ]
    },
    {
        "id": "cc08e4d11cfa566a",
        "type": "mqtt in",
        "z": "dc9d5d534fab6eb2",
        "name": "Sub ACK",
        "topic": "device/+/ack/+",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "607da66db889fa93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 560,
        "wires": [
            [
                "01f20f3fecbc8c75"
            ]
        ]
    },
    {
        "id": "c442b59a6e0a0bce",
        "type": "mqtt in",
        "z": "dc9d5d534fab6eb2",
        "name": "Sub STATUS",
        "topic": "device/+/state/+",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "607da66db889fa93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 660,
        "wires": [
            [
                "01e1f1870578a3a9"
            ]
        ]
    },
    {
        "id": "f06086a9b09cfc0c",
        "type": "debug",
        "z": "dc9d5d534fab6eb2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 780,
        "wires": []
    },
    {
        "id": "01f20f3fecbc8c75",
        "type": "uuid",
        "z": "dc9d5d534fab6eb2",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "",
        "field": "payload._id",
        "fieldType": "msg",
        "x": 310,
        "y": 560,
        "wires": [
            [
                "e1cb2639de916153"
            ]
        ]
    },
    {
        "id": "e1cb2639de916153",
        "type": "function",
        "z": "dc9d5d534fab6eb2",
        "name": "ProcessACK",
        "func": "var ack = {\n    payload: {\n        ...msg.payload,\n        created_at: new Date(),\n        raw: JSON.stringify(msg.payload),\n        topic: msg.topic,\n        device_id: msg.topic.split(\"/\")[1],\n        actuador: msg.topic.split(\"/\")[3]\n    },\n    operation: \"insertOne\",\n    collection: \"confirmation\"\n};\nreturn ack;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 560,
        "wires": [
            [
                "eaa2a4c93022ded1"
            ]
        ]
    },
    {
        "id": "01e1f1870578a3a9",
        "type": "function",
        "z": "dc9d5d534fab6eb2",
        "name": "FindStatus",
        "func": "var device_id = msg.topic.split(\"/\")[1];\nvar actuador = msg.topic.split(\"/\")[3];\n\nmsg.payload = {\n    device_id: device_id,\n    actuador: actuador\n}\n\nmsg.collection = \"status\";\nmsg.operation = \"findOne\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 660,
        "wires": [
            [
                "e50def3cc6144f1a"
            ]
        ]
    },
    {
        "id": "e50def3cc6144f1a",
        "type": "mongodb4",
        "z": "dc9d5d534fab6eb2",
        "clientNode": "3a2988a6f153903d",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 550,
        "y": 660,
        "wires": [
            [
                "f06086a9b09cfc0c"
            ]
        ]
    }
]